@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Zen+Loop&display=swap');

* {
padding: 0%; 
text-align: center;

}
.navbar {
    background: #d4eaf4;
    padding: 15px;
}
.navbar-toggler{
    background: #cfe6f0;
}

.navegador a {
color: #000;
}
body{
    font-family: "Poppins", sans-serif;
    background: url(../assets/fundobranco.png);
}
nav{
    margin-bottom: 50px;
}

nav h1{
    margin-top: 90px;
    font-size: 40px;
    color: #3A506B
}

nav p{
    font-size: 20px;
    color: #3A506B;
}

nav h2{
    margin-top: 30px;
    font-size: 25px;
    color: #3A506B;
}

section{
    align-items: center;

}
.flex{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
     max-width: 1000px;
     margin: 0 auto;
     align-items: center;
  }
  .flex div {
     flex: 1 1 2 400px;
     margin: 10px;
    padding-left: 20px;


     }

     .flex h3{
        font-size: 20px;
        margin-bottom: 5px;

    }


    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      
      .icons a{
        position: relative;
        color: #111;
        font-size: 40px;
        transition: 0.3s;
        transition-property: transform;
      }
      
      .icons a:not(:last-child){
        margin-right: 60px;
      }
      
      .icons a:hover{
        transform: scale(1.5);
      }


