@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Zen+Loop&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: url(/./assets/bg.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}
/* header */
.navbar{
    background: #d4eaf4;
    padding: 15px;
}

/* main */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLeo{
    width: 55vh;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1C2541;
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 25px;
}
input{
    color: black;
    height: 3vh;
    border-radius: 10px;
    width: 100%;
}
figcaption{
    color: black;
    width: 88%;
}
#faceGoogle{
    background-color: #ffffff;
    height: 3vh;
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#imagemFb{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#imagemGg{
    margin-left:6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 960px) {
    #imagem{
        display: none;
    }
}