@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Zen+Loop&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../assets/bg.png);
    background-size:cover;
    background-position: center;

}


.navbar {
    background: #d4eaf4;
    padding: 15px;
}

body {
    padding: 10px;
}

body main {
    padding: 30px;
}

body main .dif-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px -2px rgb(0 0 0 / 16%);
    border-radius: 24px;
    padding: 20px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

body main .dif-icon {
    padding: 10px;
    background: #1aa7d2;
    border-radius: 50%;
}

body main .dif-icon img {
    width: 50px;
    height: 50px;
}

body main .dif-text {
    padding: 10px;
}



body main section {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 400px;
    height: 300px;

}

body main section .cartao {
    width: 300px;
    height: 500px;
    padding: 20px;
    gap: 10px;
    border-radius: 25px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    justify-content: space-between;
}


body main section .cartao img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

body main section .cartao a {
    width: 80px;
}

body main section .cartao:hover {
    background-color: white;
    cursor: pointer;
}

body main .planos {
    /* background:rgb(25, 121, 142); */
    border-radius: 25px;
    padding: 25px;
    gap: 15px;
    height: 550px;
    align-items: center;
    
}

body section #carouselExampleCaptions img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

body section #carouselExampleCaptions {
    align-items: center;
    padding: 20px;
}
/* FOOTER */
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .icons a{
    position: relative;
    color: #111;
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
  }
  
  .icons a:not(:last-child){
    margin-right: 60px;
  }
  
  .icons a:hover{
    transform: scale(1.5);
  }


/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
