@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Zen+Loop&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(./imagens/fundobranco.png);
    background-size:cover ;
    background-position: center;

}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navegacao a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
}

header .navegacao a:not(:last-child){
    margin-right: 30px;
  }
  
  header .navegacao a:hover{
    background: #fff;
  }
  
  .conteudo{
    max-width: 650px;
    margin: 60px 100px;
  }
  
  .conteudo .informacao h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .conteudo .informacao h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
  }
  
  .conteudo .informacao p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .conteudo .informacao-btn{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}
  
  .conteudo .informacao-btn:hover{
    background: #0C4F60;
  }
  
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .icons a{
    position: relative;
    color: #111;
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
  }
  
  .icons a:not(:last-child){
    margin-right: 60px;
  }
  
  .icons a:hover{
    transform: scale(1.5);
  }
  
  #check{
    z-index: 3;
    display: none;
  }
  
  /* Responsive CSS */
  
  @media (max-width: 960px){
    header .navegacao{
      display: none;
    }
  
    label{
      display: block;
      font-size: 25px;
      cursor: pointer;
      transition: 0.3s;
      transition-property: color;
    }
  
    label:hover{
      color: #fff;
    }
  
    label .close-btn{
      display: none;
    }
  
    #check:checked ~ header .navegacao{
      z-index: 2;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(114, 223, 255, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #check:checked ~  header .navegacao a{
      font-weight: 700;
      margin-right: 0;
      margin-bottom: 50px;
      letter-spacing: 2px;
    }
  
    #check:checked ~ header label .close-btn{
      z-index: 2;
      position: fixed;
      display: block;
    }
  
    #check:checked ~ header label .menu-btn{
      display: none;
    }
  
    label .menu-btn{
      position: absolute;
    }
  
    header .logo{
      position: absolute;
      bottom: -6px;
    }
  
    .conteudo .informacao h2{
      font-size: 45px;
      line-height: 50px;
    }
  
    .conteudo .informacao h2 span{
      font-size: 40px;
      font-weight: 600;
    }
  
    .conteudo .informacao p{
      font-size: 14px;
    }
  }
  
  @media (max-width: 560px){
    .conteudo .informacao h2{
      font-size: 35px;
      line-height: 40px;
    }
  
    .conteudo .informacao h2 span{
      font-size: 30px;
      font-weight: 600;
    }
  
    .conteudo .informacao p{
      font-size: 14px;
    }
  }

  /*  página de serviços  */
body main .card:hover {
    background-color: #58B7D3;
    color: white;
    cursor: pointer;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

